/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", cursive;
  --mainColor: #000;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --grid-h: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --grid-v: repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --shade: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --mainBgColor: #fff;
  --content-width: clamp(100%, 90vw, 700px);
  --page-padding-inline: clamp(16px, 13.92vw - 36.7px, 122.5px);
  --logo-size: clamp(49px, 2.09vw + 41.16px, 65px);
  --watermark-stroke-color: #fff;
}
